/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/uploads/
/web/css/
/web/js/
!/web/uploads/.gitkeep
/web/phpMyAdmin/
web/.DS_Store
.DS_Store
.idea/
dump.rdb
./dump.rdb