.time-select-list {
    width: 20%;
}

.page-heading-path-block {
    padding: 20px 10px 20px 10px;
}

ul.nav li.dropdown:hover {
    background-color: rgb(108, 161, 221);
}

ul.nav li.dropdown:hover ul.dropdown-menu {
    display: block;
}

.navbar {
    background-color: rgb(108, 161, 221);
    border-radius: 4px;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
}

div.navbar li a {
    color: white;
}

div.navbar li ul.dropdown-menu li a {
    color: black;
}

.article .ibox-content {
    border-width: 0px;
}

img.small-photo {
    margin-right: 20px;
    margin-bottom: 20px;
}

div.div-article-title {
    padding-left: 0px;
}

div.div-article-title > ul > li > span.badge {
    margin-right: 5px;
}

.gray-section {
    background: #f4f4f4;
    margin-top: 60px;
}

.contact {
    background-image: url(/images/word_map.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin-top: 60px;
}

.article {
    min-height: 500px;
}