<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="优拓－建筑工程技术与项目管理的交流平台" />
        <meta name="description" content="优拓－建筑工程技术与项目管理的交流平台" />
        <meta name="keywords" content="优拓－建筑工程技术与项目管理的交流平台" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}优拓－建筑工程技术与项目管理的交流平台{% endblock %}</title>
        
        {% stylesheets output='css/compiled/app.css' 
            '@AppBundle/Resources/public/inspinia/css/bootstrap.min.css' 
            '@AppBundle/Resources/public/inspinia/font-awesome/css/font-awesome.css' 
            '@AppBundle/Resources/public/inspinia/css/animate.css' 
            '@AppBundle/Resources/public/inspinia/css/style.css' 
            '@AppBundle/Resources/public/inspinia/css/non-responsive.css' 
            '@AppBundle/Resources/public/css/front.css' 
            filter='cssrewrite' 
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        
        {% block css %}
        {% endblock %}
        <!--[if lt IE 9]>
                <script src="/bundles/front/inspinia/js/jquery-1.4.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div id="wrapper">
            
            <div class="white-bg">
                
                <div class="container white-bg">
                    <h1>
                    <img src="/logo.png" class="img-circle circle-border img-md" alt="logo">
                    <a href="{{ path('indexHtml') }}">优拓建筑工程技术</a>
                    </h1>
                </div>

                {% include '@AppBundle/Resources/views/menu.html.twig' %}
                {% if paths is defined %}
                {% include '@AppBundle/Resources/views/headerPath.html.twig' with {'paths' : paths} %}
                {% endif %}
                {% block body %}{% endblock %}
                <section id="contact" class="gray-section contact">
                    <div class="container">
                        <div class="row m-b-lg">
                            <div class="col-lg-12 text-center">
                                <div class="navy-line"></div>
                                <h1>联系我们</h1>
                            </div>
                        </div>
                        <div class="row m-b-lg">
                            <div class="col-lg-3 col-lg-offset-3">
                                <address>
                                    <strong><span class="navy">电子邮箱: utoconsult@163.com</span></strong><br/>
                                    Skype: utoconsult<br/>
                                    QQ: 982911841<br/>
                                </address>
                            </div>
                            <div class="col-lg-4">
                                    <address>
                                        <strong><span class="navy">电话: +86 +10 68330182</span></strong><br/>
                                        地址: 北京市西城区西外南大街一号楼1703室<br/>
                                        邮编: 100044
                                    </address>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <a href="mailto:utoconsult@163.com" class="btn btn-primary">给我们发邮件</a>
                                <a href="{{ path('aboutusHtml') }}" class="btn btn-info">关于我们</a>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                                <p><strong>&Copyright 2006 - 2018</strong>
                                <br/>北京优拓建筑技术咨询有限公司版权所有
                                <br/>许可证号：京ICP备13013416号</p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    {% javascripts output='js/compiled/app.js' 
        '@AppBundle/Resources/public/inspinia/js/jquery-3.1.1.min.js'
        '@AppBundle/Resources/public/inspinia/js/bootstrap.min.js'
        '@AppBundle/Resources/public/inspinia/js/plugins/metisMenu/jquery.metisMenu.js'
        '@AppBundle/Resources/public/inspinia/js/plugins/slimscroll/jquery.slimscroll.min.js' 
        '@AppBundle/Resources/public/inspinia/js/inspinia.js' 
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    
    {% block js %}
    {% endblock %}
    
    </body>
</html>