<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}Utoconsult 优拓建筑资讯网{% endblock %}</title>
        
        {% stylesheets output='css/compiled/app.css' 
            '@AppBundle/Resources/public/inspinia/css/bootstrap.min.css' 
            '@AppBundle/Resources/public/inspinia/font-awesome/css/font-awesome.css' 
            '@AppBundle/Resources/public/inspinia/css/animate.css' 
            '@AppBundle/Resources/public/inspinia/css/style.css' 
            '@AppBundle/Resources/public/inspinia/css/plugins/sweetalert/sweetalert.css' 
            '@AppBundle/Resources/public/inspinia/css/plugins/iCheck/custom.css' 
            '@AppBundle/Resources/public/css/front.css' 
            filter='cssrewrite' 
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        
        {% block css %}
        {% endblock %}
        <!--[if lt IE 9]>
                <script src="/bundles/front/inspinia/js/jquery-1.4.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div id="wrapper">
            
            <div class="gray-bg">
                
                <div class="navbar">
                    <div class="container white-bg">
                        <h1>优拓建筑工程技术</h1>
                    </div>
                </div>
                {% include '@AppBundle/Resources/views/menu.html.twig' %}
                {% if paths is defined %}
                {% include '@AppBundle/Resources/views/headerPath.html.twig' with {'paths' : paths} %}
                {% endif %}
                {% block body %}{% endblock %}
            </div>
        </div>
    {% javascripts output='js/compiled/app.js' 
        '@AppBundle/Resources/public/inspinia/js/jquery-3.1.1.min.js'
        '@AppBundle/Resources/public/inspinia/js/bootstrap.min.js'
        '@AppBundle/Resources/public/inspinia/js/plugins/metisMenu/jquery.metisMenu.js'
        '@AppBundle/Resources/public/inspinia/js/plugins/slimscroll/jquery.slimscroll.min.js' 
        '@AppBundle/Resources/public/inspinia/js/inspinia.js' 
        '@AppBundle/Resources/public/inspinia/js/plugins/pace/pace.min.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    
    {% block js %}
    {% endblock %}
    
    </body>
</html>