<div class="navbar">
    <div class="container">
      <div class="nav-collapse">
        <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="/articles/index/category/1/name/工程设计.html">工程设计<b class="caret"></b></a>
                <ul class="dropdown-menu">
                <li><a href="/articles/index/category2/1/name/工业建筑.html">工业建筑</a></li><li><a href="/articles/index/category2/4/name/民用建筑.html">民用建筑</a></li><li><a href="/articles/index/category2/5/name/建筑结构.html">建筑结构</a></li><li><a href="/articles/index/category2/6/name/冷库建筑.html">冷库建筑</a></li><li><a href="/articles/index/category2/65/name/装饰设计.html">装饰设计</a></li><li><a href="/articles/index/category2/66/name/建筑施工.html">建筑施工</a></li>                </ul>
              </li>  
              <li class="dropdown">
                <a href="/articles/index/category/3/name/项目管理.html">项目管理<b class="caret"></b></a>
                <ul class="dropdown-menu">
                <li><a href="/articles/index/category2/17/name/项目前期.html">项目前期</a></li><li><a href="/articles/index/category2/18/name/合同范本.html">合同范本</a></li><li><a href="/articles/index/category2/20/name/法规规定.html">法规规定</a></li><li><a href="/articles/index/category2/21/name/工程经济.html">工程经济</a></li><li><a href="/articles/index/category2/22/name/风险管理.html">风险管理</a></li><li><a href="/articles/index/category2/23/name/工程保险.html">工程保险</a></li><li><a href="/articles/index/category2/24/name/工程保函.html">工程保函</a></li>                </ul>
              </li>  
              <li class="dropdown">
                <a href="/articles/index/category/4/name/工程材料.html">工程材料<b class="caret"></b></a>
                <ul class="dropdown-menu">
                <li><a href="/articles/index/category2/25/name/防水材料.html">防水材料</a></li><li><a href="/articles/index/category2/26/name/保温材料.html">保温材料</a></li><li><a href="/articles/index/category2/27/name/防火材料.html">防火材料</a></li><li><a href="/articles/index/category2/28/name/密封材料.html">密封材料</a></li><li><a href="/articles/index/category2/29/name/地面材料.html">地面材料</a></li><li><a href="/articles/index/category2/30/name/建筑涂料.html">建筑涂料</a></li><li><a href="/articles/index/category2/31/name/装饰材料.html">装饰材料</a></li><li><a href="/articles/index/category2/32/name/幕墙材料.html">幕墙材料</a></li><li><a href="/articles/index/category2/33/name/轻钢结构.html">轻钢结构</a></li><li><a href="/articles/index/category2/34/name/金属屋面.html">金属屋面</a></li><li><a href="/articles/index/category2/35/name/特种材料.html">特种材料</a></li>                </ul>
              </li>
              <li class="dropdown">
                <a href="/articles/index/category/5/name/相关设备.html">相关设备<b class="caret"></b></a>
                <ul class="dropdown-menu">
                <li><a href="/articles/index/category2/67/name/工业门窗.html">工业门窗</a></li><li><a href="/articles/index/category2/42/name/冷藏门.html">冷藏门</a></li><li><a href="/articles/index/category2/44/name/冷藏物流设备.html">冷藏物流设备</a></li><li><a href="/articles/index/category2/43/name/地面防冻加热.html">地面防冻加热</a></li><li><a href="/articles/index/category2/45/name/货架.html">货架</a></li><li><a href="/articles/index/category2/46/name/电梯.html">电梯</a></li><li><a href="/articles/index/category2/41/name/制冷设备.html">制冷设备</a></li><li><a href="/articles/index/category2/36/name/电气设备.html">电气设备</a></li><li><a href="/articles/index/category2/38/name/暖通空调.html">暖通空调</a></li><li><a href="/articles/index/category2/37/name/给排水设备.html">给排水设备</a></li><li><a href="/articles/index/category2/39/name/消防设备.html">消防设备</a></li><li><a href="/articles/index/category2/40/name/安防设备.html">安防设备</a></li><li><a href="/articles/index/category2/47/name/太阳能设备.html">太阳能设备</a></li>                </ul>
              </li>
              <li class="dropdown">
                <a href="/articles/index/category/2/name/节能环保.html">节能环保<b class="caret"></b></a>
                <ul class="dropdown-menu">
                <li><a href="/articles/index/category2/63/name/节能技术.html">节能技术</a></li><li><a href="/articles/index/category2/68/name/建筑保温.html">建筑保温</a></li><li><a href="/articles/index/category2/69/name/新型能源.html">新型能源</a></li><li><a href="/articles/index/category2/64/name/环境保护.html">环境保护</a></li>                </ul>
              </li>
              
              <li class="dropdown">
                <a href="/articles/index/category/6/name/规范标准.html">规范标准<b class="caret"></b></a>
                <ul class="dropdown-menu">
                <li><a href="/articles/index/category2/48/name/建筑设计规范.html">建筑设计规范</a></li><li><a href="/articles/index/category2/49/name/建筑防火设计规范.html">建筑防火设计规范</a></li><li><a href="/articles/index/category2/50/name/结构设计规范.html">结构设计规范</a></li><li><a href="/articles/index/category2/51/name/冷库建筑设计规范.html">冷库建筑设计规范</a></li><li><a href="/articles/index/category2/52/name/其它专业规范.html">其它专业规范</a></li><li><a href="/articles/index/category2/70/name/安全规程.html">安全规程</a></li>                </ul>
              </li>
              
              <li class="dropdown">
                <a href="/articles/index/category/7/专业术语.html">专业术语<b class="caret"></b></a>
                <ul class="dropdown-menu">
                <li><a href="/articles/index/category2/54/name/土建术语.html">土建术语</a></li><li><a href="/articles/index/category2/55/name/电气术语.html">电气术语</a></li><li><a href="/articles/index/category2/56/name/给水排水术语.html">给水排水术语</a></li><li><a href="/articles/index/category2/57/name/暖通空调术语.html">暖通空调术语</a></li><li><a href="/articles/index/category2/60/name/制冷工艺术语.html">制冷工艺术语</a></li><li><a href="/articles/index/category2/58/name/环保术语.html">环保术语</a></li><li><a href="/articles/index/category2/59/name/能源术语.html">能源术语</a></li><li><a href="/articles/index/category2/62/name/技术经济术语.html">技术经济术语</a></li><li><a href="/articles/index/category2/71/name/其它术语.html">其它术语</a></li>                </ul>
              </li>
              <li class="dropdown">
                <a href="/file.html">技术文档<b class="caret"></b></a>
                <ul class="dropdown-menu">
                <li><a href="/file.html?category=1">工程设计</a></li><li><a href="/file.html?category=2">项目管理</a></li><li><a href="/file.html?category=3">工程材料</a></li><li><a href="/file.html?category=4">相关设备</a></li><li><a href="/file.html?category=5">节能环保</a></li><li><a href="/file.html?category=6">规范标准</a></li><li><a href="/file.html?category=7">其它</a></li>                </ul>
              </li>
              <li class="dropdown">
              <a href="http://bbs.utoconsult.com">交流平台</a>
              </li>  
            </ul>
      </div><!--/.nav-collapse -->
    </div>
</div>